/** SMALL PHONES*/
@media only screen and (min-width: 200px) {
    .title-wrapper {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid gray;
        margin-bottom: 0.5em;
    }
    .games-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .border-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        margin: 0.5em 0;
        /* width: 90%; */
        max-width: 90%;
        width: 25em;
        border-radius: 16px;
        background-color: gray;
    }
    .contens-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 100%;
        border-radius: 16px;
        background-color: whitesmoke;
    }
    .image-wrapper > img {
        width: 12em;
        height: fit-content;
    }
    .link-wrapper {
        padding-top: 0.5em;
    }
    .selectLink {
        font-size: 30px;
    }
}
@media only screen and (min-width: 450px) {
    .border-wrapper {
        width: 70%;
    }
}
@media only screen and (min-width: 700px) {
    .games-wrapper {
        flex-direction: row;
    }
    .border-wrapper {
        margin: 0 0.5em;
    }
}