/** SMALL PHONES*/
@media only screen and (min-width: 200px) {
    .title-wrapper {
        display: flex;
        justify-content: center;
    }
    .games-wrapper {
        display: flex;
        flex-direction: column;
    }
    .border-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        border-radius: 12px;
        background-color: gray;
    }
    .contens-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background-color: whitesmoke;
    }
    .image-wrapper > img {
        width: 12em;
        height: fit-content;
    }
}