@media only screen and (min-width: 200px) {
    .spacing {
        margin-bottom: 1.5em;
    }
    .sections {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    #gmWord {
        width: 70%;
        height: 2.5em;
    }
}