h1, h2, h3, h4, h5, h6 {
    font-family: Bradley Hand;
}

@media only screen and (min-width: 200px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}