@media only screen and (min-width: 200px) {
    .end-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
    .answers-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 4em;
    }
    .reveal-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5em;
    }
}