/** SMALL PHONES*/
@media only screen and (min-width: 200px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 85%;
    }
    .timer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0 4em 0;
    }
    .timer {
        text-align: center;
        font-size: 100px;
        background-color: #d9d9d9;
        border: solid 2px #004122;
        border-radius: 8px;
        padding: 0.3em;
    }
    #nextButton {
        display: none;
    }
}
