/** SMALL PHONES*/
@media only screen and (min-width: 200px) {
    .timer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timer {
        text-align: center;
        font-size: 80px;
    }
    #nextButton {
        display: none;
    }
}
